body {
  background-color: #222;
}

.App {
  text-align: center;
  padding: 20px;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.margin-top {
  margin: 50px 0px;
}

table {
  width: 100%;
}

td,
th {
  position: relative;
  vertical-align: middle !important;
  text-align: center !important;
}

svg {
  max-height: 150px;
}

td:first-of-type,
td:first-of-type > div {
  height: 200px;
  width: 250px;
}
